<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play</title>
    <link rel="stylesheet" href="/css/playstyle.css">
</head>
<body>
    <div class="header">
        <div class="nav">
            <ul>
                <li>
                    <a href="http://localhost:4000/chapter3"><</a>
                </li>
                <li>
                    <img src="/assets/logo.PNG" alt="logo">
                </li>
                <li>
                    <h1>ROCK PAPER SCISSORS</h1>
                </li>
            </ul>
        </div>
        <div class="ronde">
            <ul>
                <li>
                    <h1>Ronde</h1>
                </li>
                <li>
                    <h1 id="angkaronde">1</h1>
                </li>
            </ul>
        </div>
    </div>
    <div class="bodys">
        <div class="text">
            <ul>
                <li >
                    <h1>PLAYER 1</h1>
                </li>
                <li >
                    <h1>COM</h1>
                </li>
            </ul>
        </div>
        <div class="gambar">
            <ul>
                <li >
                    <img src="/assets/batu.png" alt="batu" id="batu" class="char">
                </li>
                
                <li >
                    <img src="/assets/batu.png" alt="batu" id="batu-comp" class="char">
                </li>
            </ul>
        </div>
        <div class="gambar2">
            <ul>
                <li class="kertas1">
                    <img src="/assets/kertas.png" alt="kertas" id="kertas" class="char">
                </li>
                <h4 id="vs" class="vs">VS</h4>
                <li class="kertas2">
                    <img src="/assets/kertas.png" alt="kertas" id="kertas-comp" class="char">
                </li>
                
            </ul>
        </div>
        <div class="gambar3">
            <ul>
                <li >
                    <img src="/assets/gunting.png" alt="gunting" id="gunting" class="char">
                </li>
                <li >
                    <img src="/assets/gunting.png" alt="gunting" id="gunting-comp" class="char">
                </li>
            </ul>
        </div>
        
        <div class="refresh">
            <ul>
                <li>
                    <img src="/assets/refresh.png" alt="refreshgame" id="refresh">
                </li>
            </ul>
        </div>
        <div class="score">
            <ul>
                <li >
                    <h2>Player Score</h2>
                    <h2 id="playerscore">0</h2>
                </li>
                <li >
                    <h2>Computer Score</h2>
                    <h2 id="comscore">0</h2>
                </li>
            </ul>
        </div>
        
    </div>
</body>
<script src="/js/play.js"></script>
</html>