* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(153, 114, 63);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    color: orange;
}

.nav>ul {
    display: flex;
    list-style: none;
}

.nav>ul>li {
    justify-content: center;
    padding-left: 2%;
    padding-top: 3%;
}

.nav>ul>li a{
    text-decoration: none;
    color:darkred;
    font-size: 2rem;
}

.history {
    color: black;
    display: flex;
    justify-content: flex-end;
    padding-right: 10%;
}

.history>ul {
    list-style: none;
}

.history>ul>li {
    cursor: pointer;
}

.history>ul>li img {
    width: 30px;
    height: 30px;
}

.text>ul {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    list-style: none;
}

.text>ul>li {
    position: relative;
    flex: 1;
}

.gambar>ul {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 50px;
    list-style: none;
}

.gambar>ul>li {
    position: relative;
    flex: 1;
}

.gambar>ul>li img {
    width: 100px;
    height: 100px;
}

.gambar>ul>li input:hover {
    box-shadow: grey;
}

.gambar2 {
    color: red;
    font-size: 3rem;
}

.gambar2>ul {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 50px;
    list-style: none;
}

.gambar2>ul>li {
    position: relative;
    flex: 1;
}

.gambar2>ul>li img {
    width: 100px;
    height: 100px;
}

.gambar3>ul {
    display: flex;
    justify-content: center;
    width: 100%;
    list-style: none;
}

.gambar3>ul>li {
    position: relative;
    flex: 1;
}

.gambar3>ul>li img {
    width: 100px;
    height: 100px;
}

.refresh>ul {
    display: flex;
    justify-content: center;
    width: 100%;
    list-style: none;
}

.refresh>ul>li {
    position: relative;
    flex: 1;
}

.refresh>ul>li img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.score>ul {
    padding-top: 50px;
    padding-bottom: 50px;
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;
}

.score>ul>li {
    position: relative;
    flex: 1;
}

.char {
    cursor: pointer;
}

.active, .char:hover{
    background-color: rgb(170, 170, 170);
    border-radius: 10px;
    box-shadow: 0 0 0 20px rgb(170, 170, 170);
}

.vs {
    position: fixed;
}